<div class="top-sit">
    <player cards="$ctrl.player2.cards"
            combination="$ctrl.player2.combination"
            class="player2"></player>
</div>

<board flop="$ctrl.flop"
       turn="$ctrl.turn"
       river="$ctrl.river"></board>

<div class="bottom-sit">
    <player cards="$ctrl.player1.cards"
            combination="$ctrl.player1.combination"
            class="player1"></player>
</div>
